#section1 {
    text-align: center;
    background-color: #f77974;
    height: 300px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    z-index: 9;
}

body {
    text-align: center;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 35px;
}

p {
    font-size: 25px;
    color: purple;
    font-weight: bold;
    font-family: "Akronim", cursive;
}

h2 {
    font-size: 20px;
    color: #1A237E;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background-image: linear-gradient(lightgreen, #f2ab29, yellow);
}

#My_Photo {
    border-radius: 50%;
    width: 325px;
    height: 325px;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 5px solid blue;
    padding: 5px;
}

#My_Photo:hover {
    border: 4px solid purple;
    transform: scale(0.9);
}

.menu {
    font-family: 'Akronim', cursive;
    font-size: 20px;
    overflow: hidden;
    position: fixed;
    cursor: pointer;
    z-index: 10;
    right: 8px;
    background-color: aquamarine;
    width: 525;
    padding: 0px;
    list-style: none;
    float: right;
    top: 10px;
    right: 30px;
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    border: 2px solid #f01c41;
}

.links:hover {
    background-image: linear-gradient(pink, lavender, skyblue);
    font-size: 25px;
    text-decoration: underline;
    color: dodgerblue;
    font-family: Brush Script MT, cursive;
}

label {
    color: #311B92;
    text-decoration: underline;
    font-size: 35px;
    font-weight: bold;
    font-family: Copperplate,
        Papyrus;
}

#Ms_Dhoni {
    height: 270px;
    border-style: dotted;
    border-color: #6200EA;
    border-width: 10px;
    padding: 5px;
    border-radius: 80px;
}

html {
    scroll-behavior: smooth;
}

button {
    font-weight: 900;
    color: #6A1B9A;
    font-size: 20px;
    border-radius: 80px;
    border-width: 5px;
    padding: 10px;
    border-color: #64DD17;
    background-color: #FFEA00;
    font-family: Copperplate,
        Papyrus;
}

.article {
    color: #6A1B9A;
    text-align: center;
    font-family: Brush Script MT,
        Lucida Handwriting;
    background-image: linear-gradient(#F8BBD0, #FFB74D, #81D4FA);
    border-style: outset;
    font-size: 30px;
}

#Player {
    background-image: linear-gradient(red, yellow);
}

#Writings {
    background-image: linear-gradient(#ff512f, #dd2476);
}

#Photo_Gallery {
    background-image: linear-gradient(#ff5f6d, #ffc371);
}

h2 {
    font-size: 25px;
    color: purple;
    font-weight: bold;
    font-family: "Akronim", cursive;
}

#MSD {
    height: 270px;
    border-style: dotted;
    border-color: #6200EA;
    border-width: 10px;
    padding: 5px;
    border-radius: 80px;
    transition: transform .2s;
}

#PC {
    height: 270px;
    border-style: dotted;
    border-color: orangered;
    border-width: 10px;
    padding: 5px;
    border-radius: 80px;
    transition: transform .2s;
}

#Inspirations {
    background-image: linear-gradient(#2196f3, #f44336);
}
#MSD:hover {
    transform: scale(0.9);
}
#PC:hover {
    transform: scale(0.9);
}
#My_life_Inspirations {
    background-image: linear-gradient(#dd2476,#ff512f);
    border-style: outset;
}